@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import './modules/_variables.scss';
@import './modules/_mixins.scss';

// Definición de variables dentro de root
//:root {
//--color-red: #CB3234;
//}

body {
    background-color: $white;
    font-family: 'Source Sans Pro',
        sans-serif;
}

img {
    max-width: 100%;
}

figure {
    position: relative;
    max-height: 100%;
    margin: 0;

    figcaption {
        @include caption;
    }
}

.full-heights {
    min-height: 100vh;
}

.grid {
    // así se llama al mixin (grupo de variables)
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.container {
    padding: $big-padding;
    grid-column: span 12;
}

.grid-main-area {
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
        "title title title title title title title title title"
        "img img img img img img img img img";

    .text {
        grid-area: title;
        @include main-text;
        margin-right: 0 !important;
    }

    .image {
        grid-area: img;
        margin-top: 5em;
    }
}

.slider {
    header {
        background-color: $blue;
        color: $white;
        padding: $big-padding;
        transform: translateY(40px);
        width: 80%;
        box-sizing: border-box;
        margin: 0 auto;
        z-index: 10;
        position: relative;
    }

    .image {
        margin-top: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        z-index: -10;
    }

    h2 {
        margin: 0;
    }
}

#slider-text-content{
    @include transition;
    &.hide{
        opacity: 0;
        transform: translateX(100px);
    }
}

#slider-image{
    @include transition;
    &.hide{
        opacity: 0;
    }
}

.cover {
    @include absolute-cover;
    background-color: $red;
    min-height: 500px;

    &.parallax {
        background: url('../../public/images/2.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;

        p {
            @include caption;
            @include text-right;
            background-color: rgba($blue, .8);
            width: 100%;
            box-sizing: border-box; // para que el width no sume el padding (evita desbordes)
            left: 0;

            span {
                display: block;
                font-size: .5em;
                font-weight: 200;
                margin-top: 6px;
            }
        }
    }
}


.mission {
    box-sizing: border-box;
    align-items: center;
    width: 100%;

    .container {
        @include main-text;
        font-size: 1.1em;
        width: 100%;
        padding: 0;
        text-align: center;

        figure {
            float: right;
            width: 100%;

            figcaption {
                @include caption;
                bottom: 10px;
            }
        }

        p {
            line-height: 2em;

            &:nth-of-type(1) {
                margin-bottom: 3em;
                position: relative;

                &::after {
                    content: "";
                    background-color: $blue;
                    position: absolute;
                    left: 150px;
                    bottom: -1.5em;
                    height: 5px;
                    width: 80%;
                    z-index: -1;

                }
            }
        }
    }
}

.social {
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    text-align: center;

    p.title {
        font-weight: 200;
        font-size: 2.1em;
    }

    a {
        display: block;
        @include text-center;
        max-width: 150px;
        margin: 1em auto;
    }
}

@media (min-width: 960px) {
    .container {
        grid-column: 2 / 12;
    }

    .grid-main-area {
        grid-template-areas: "title title title img img img img img img";

        img {
            margin-top: 0;
            object-fit: contain;
        }

        .text {
            margin-right: 2em;
        }
    }

    .slider {
        align-items: center;

        .text {
            transform: translateX(100px);
            width: 100%;
            min-height: 350px;

            .separator {
                text-align: right;
                padding-right: 150px;
                position: relative;
                color: $white;

                &::after {
                    content: "";
                    position: absolute;
                    top: .7em;
                    right: 0;
                    width: 140px;
                    height: 3px;
                    background-color: currentColor;
                }
            }

        }
    }

    .social {
        text-align: center;

        justify-content: center;
        align-content: space-around;

        a {
            display: inline-block;
            margin-top: 0;
            margin: 20px
        }
    }

}

.btn {
    padding: $large-padding;
    position: relative;
    color: $black !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $light-blue;
        transition: all .15s ease-out;
    }

    &:hover::before {
        height: 100%;
    }
}